<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Selamat datang</title>
  </head>
  <body>
    <h1></h1>
  </body>
</html>

<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tabel Perpustakaan</title>
  </head>
  <body>
    <h1>Tabel Perpustakaan</h1>
    <table border="1" cellpadding="5" cellspacing="0">
      <tr>
        <th>Judul Buku</th>
        <th>Penulis</th>
        <th>Tahun Terbit</th>
        <th>Genre</th>
        <th>Status</th>
      </tr>
      <tr>
        <td>Ayat Ayat Cinta</td>
        <td>Hadi Susanto</td>
        <td>1997</td>
        <td>Fiksi Fantasi</td>
        <td>Tersedia</td>
      </tr>
      <tr>
        <td>Laskar Pelangi</td>
        <td>Andrea Hirata</td>
        <td>2005</td>
        <td>Fiksi Remaja</td>
        <td>Dipinjam</td>
      </tr>
      <tr>
        <td>Ayah</td>
        <td>Andrea Hirata</td>
        <td>2006</td>
        <td>Fiksi Remaja</td>
        <td>Tersedia</td>
      </tr>
      <tr>
        <td>Bumi Manusia</td>
        <td>Pramoedya Ananta Toer</td>
        <td>2008</td>
        <td>Fiksi Sejarah</td>
        <td>Dipinjam</td>
      </tr>
    </table>
  </body>
</html>
